<div class="container mt-3">

    <div class="row">

        <div class="col-md-6 mb-3 px-0">

            <div class="home-login-div">

                <h2 class="text-center">Minha conta</h2>

                <div class="d-flex flex-column px-2 mt-1">
                    <label for="nomeUsuario"><b>Nome de usuário</b></label>
                    <input type="text" name="nomeUsuario" id="input-nomeUsuario" class="px-2 py-1 home-login-input" autofocus autocomplete="off" value="{{nomeUsuario}}">
                </div>

                <div class="d-flex flex-column px-2 mt-1">
                    <label for="senha"><b>Senha</b></label>
                    <input type="password" name="senha" id="input-senha" class="px-2 py-1 home-login-input" autocomplete="off" value="{{senha}}">
                    <span class="erro-validacao text-center mt-2">{{erro}}</span>
                </div>

                <div class="d-flex flex-column px-2 mt-1">
                    <input type="submit" id="input-submit" class="py-1 home-login-btn" value="Entrar" >
                </div>

                <div class="d-flex flex-column px-2 mt-2 mb-2">
                    <a href="/recuperar-senha" style="text-align: right">Esqueceu seus dados?</a>
                </div>

            </div>

        </div>

        <div class="col-md-6 px-0">

            <div class="d-flex flex-column justify-content-end home-cadastro-div">

                <h2 class="text-center">Novo por aqui?</h2>
                <p>Crie sua conta, forme vínculos e monte sua mini rede!</p>


                <div class="d-flex flex-column mt-1">
                    <input type="submit" id="input-submit" class="py-1 home-login-btn" value="Criar conta" onclick='location.href="/criar-conta"'>
                </div>
                
                <div class="d-flex flex-column mt-4 mb-3">
                    <input type="submit" id="input-submit" class="py-1 home-login-btn" value="Sobre a Mini Rede" >
                </div>

            </div>
        </div>

        <div class="col-md-12 px-0">

            <h3 class="text-center mt-2">Últimas postagens públicas... </h3>

            <div class="row px-4">
                {{#if postagens}}
                    {{#each postagens}}
                        <div class="col-sm-6 col-md-4 text-center mt-2">
                            <span><b>{{usuario}}</b></span><br>
                            <span>{{conteudo}}</span><br>
                            <span>{{hora}}</span>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
            
        </div>

    </div>

</div>









    {{!-- Cadastro --}}


    {{!-- Postagens --}}
